<div class="site-list">
  <div id="alertPlaceholder"></div>
  <div class="search-bar"><img src="assets/images/BlackSaltIT_Red_Stacked_TransparentBG.png" alt="Black Salt IT Logo" class="logo"/>
    <mat-slide-toggle [(ngModel)]="showActiveOnly" (change)="onToggleChange()" style="margin-left: 30px">Active Only</mat-slide-toggle>
    <!--    <span style="flex: 1"></span>-->
    <span class="logout-button-wrapper">
    <button mat-icon-button aria-label="Sign Out" (click)="authenticator.signOut()">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-up-left-from-circle" class="fa-light">logout</mat-icon>
    </button>
    </span>
  </div>
  <div class="search-bar">
    <div class="search-field">
      @if(fSites.length > 1){
      <button mat-icon-button (click)="selectPreviousSite()" [matTooltip]="previousSiteName">
        <mat-icon>navigate_before</mat-icon>
      </button>
      }

      <mat-form-field appearance="outline" style="width: 100%" subscriptSizing="dynamic">
        <mat-icon matIconPrefix>search</mat-icon>
        <input type="text" matInput [formControl]="siteControl" [matAutocomplete]="auto" placeholder="Search Sites"
               [attr.autocomplete]="'off'"
               [attr.autocapitalize]="'off'"
               spellcheck="false" data-lpignore="true">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectSite($event.option.value)" [displayWith]="displaySite">
          <mat-option *ngFor="let site of filteredSites | async" [value]="site">
            {{ site.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      @if(fSites.length > 1){
      <button mat-icon-button (click)="selectNextSite()" [matTooltip]="nextSiteName">
        <mat-icon>navigate_next</mat-icon>
      </button>
      }
    </div>

    @if (selectedSite) {
      <div class="asset-selector">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-select [ngModel]="selectedAsset" (selectionChange)="onSelectAssetChanged($event)">
            @for (asset of assets; track asset.id; let i = $index, f = $first) {
              <mat-option [value]="asset">{{ asset.hostname }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }
  </div>
  @if (authService.isAdmin$ | async) {
    <mat-toolbar>
      @if (isEditMode) {
        <button mat-icon-button (click)="updateAsset()" [disabled]="!assetForm.valid || !selectedAsset">
          <mat-icon>save</mat-icon>
        </button>
      }
      <span class="spacer"></span>
      <button mat-icon-button (click)="toggleEditMode()" class="edit-button">
        @if (isEditMode) {
          <mat-icon>check</mat-icon>
        } @else {
          <mat-icon>edit</mat-icon>
        }
      </button>
    </mat-toolbar>
  }
  @if (selectedAsset) {
    <div class="details-section">
      <mat-tab-group class="full-height">
        <mat-tab label="General">
          <ng-template mat-tab-label>
            @if (routerGeneralForm.invalid) {
              <mat-icon class="tab-icon" color="warn">error</mat-icon>
            } General
          </ng-template>
          <app-router-general [isEditMode]=isEditMode [routerGeneralForm]="routerGeneralForm" [asset]="selectedAsset"/>
        </mat-tab>
        @if (selectedAsset.routerDetails) {
          <mat-tab>
            <ng-template mat-tab-label>
              @if (routerDetailsForm.invalid) {
                <mat-icon class="tab-icon" color="warn">error</mat-icon>
              }Router Details
            </ng-template>
            @if (selectedAsset.routerDetails) {
              <app-router-details [isEditMode]=isEditMode [asset]="selectedAsset" [routerDetailsForm]="routerDetailsForm" [site]="selectedSite!"/>
            }
          </mat-tab>
        }
        @if (selectedAsset && selectedAsset.routerDetails && selectedAsset.routerDetails.mobileDetails) {
          <mat-tab>
            <ng-template mat-tab-label>
              @if (mobileDetailsForm.invalid) {
                <mat-icon class="tab-icon" color="warn">error</mat-icon>
              }
              Mobile Details
            </ng-template>
            <form [formGroup]="assetForm">
              <ng-container formGroupName="routerDetails">
                <app-mobile-details [isEditMode]=isEditMode [asset]="selectedAsset" [mobileDetailsForm]="mobileDetailsForm"/>
              </ng-container>
            </form>
          </mat-tab>
        }
        @if (selectedAsset.lanSubnets) {
          <mat-tab label="LAN Subnets">
            <app-lan-subnets [isEditMode]=isEditMode [formGroup]="routerGeneralForm" [selectedAsset]="selectedAsset" (update)="updateAsset()"/>
          </mat-tab>
        }
        <mat-tab label="Live Tools">
          <app-live-tools [asset]="selectedAsset" [site]="selectedSite!"/>
        </mat-tab>

        <mat-tab label="Log">
          <ng-container *ngIf="authService.userName$ | async as userName">
            <app-comments [comments]="comments" [assetId]="selectedAsset.id" [currentUser]="userName"/>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  }
</div>

