/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use 'm3-theme.scss';
@include mat.core();

//$theme: mat.define-theme((
//  color: (
//    theme-type: dark,
//    primary: mat.$violet-palette,
//  ),
//  typography: (
//    brand-family: 'Comic Sans',
//    bold-weight: 900
//  ),
//  density: (
//    scale: -1
//  )
//));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%;
  //@include mat.core-theme(m3-theme.$light-theme);
  //@include mat.all-component-themes(m3-theme.$dark-theme)
  //@include mat.button-theme(m3-theme.$light-theme);
  //@include mat.tabs-theme(m3-theme.$dark-theme);
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fdfbff}

.flex {
  display: flex;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100dvh;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #e2eaf7;
  color: #2f5aa2;
}

.nav-pills .nav-link {
  //background-color: #eee;
  color: rgba(0,0,0,0.55);
  margin: 8px;
}

.site-list .mat-mdc-tab-body-wrapper {
  flex: 1;
}

.table-bar {
  display: flex;
  background-color: #fdfbff;
}

.table-bar mat-slide-toggle {
  margin-left: 8px;
  align-self: center;
}

.table-bar mat-paginator {
  flex: 1;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

.logo {
  height: 56px;
  margin: 8px 12px;
}
